@tailwind base;
@tailwind components;
@tailwind utilities;

.react-pdf__Page__canvas {
    margin: 0 auto;
    width: 100% !important;
    height: 100% !important;
}
@font-face {
    font-family: "LibreFranklin";
    font-weight: 100 900;
    font-display: optional;
    src: url("../public/fonts/LibreFranklin-VariableFont_wght.ttf");
  }
@font-face {
    font-family: "LibreFranklinItalic";
    font-weight: 100 900;
    font-display: optional;
    src: url("../public/fonts/LibreFranklin-Italic-VariableFont_wght.ttf");
  }
  html {
    overscroll-behavior: none;
    overflow-x: hidden;
    overflow-x: hidden;
  }
